<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>租赁合同示例</title>
    <link rel="stylesheet" type="text/css" href="classpath:pdftemplate/css/rent.css"/>
</head>
<body>
<h1 class="title">租房合同</h1>
合同编号：<span class="text-line" th:text="${contractNumber}">合同编号</span><br/>
房屋租赁合同
甲方(出租方)：<span class="text-line" th:text="${personFirst}">甲方</span><br/>
联系电话：<span class="text-line" th:text="${personFirstPhone}">甲方电话</span><br/>
法定代表人（主要负责人）：<span class="text-line" th:text="${personLegal}">法人</span><br/>
地址：<span class="text-line" th:text="${personFirstAddress}">地址</span><br/>

甲方(承租方)：<span class="text-line" th:text="${personFirstTenantry}">甲方(承租方)</span><br/>
联系电话：<span class="text-line" th:text="${personFirstTenantryPhone}">甲方(承租方)联系电话</span><br/>
法定代表人（主要负责人）：<span class="text-line" th:text="${personFirstTenantryLegal}">法定代表人（主要负责人）</span><br/>
地址：<span class="text-line" th:text="${personFirstTenantryAddress}">地址</span><br/>

根据《中华人民共和国合同法》及相关法律法规的规定，<br/>
甲、乙双方在平等、自愿的基础上，就甲方将房屋出租给乙方使用，乙方承租甲方房屋事宜，为明确双方权利义务，经协商一致，订立本合同。<br/>
　　第一条 甲方保证所出租的房屋符合国家对租赁房屋的有关规定。<br/>
　　第二条 房屋的坐落、面积、装修、设施情况<br/>
　　1．甲方出租给乙方的房屋位于 ；<span class="text-line" th:text="${houseAddress}">租房地址</span> 门牌号为 <span class="text-line" th:text="${houseNumber}">租房门牌号</span> 。<br/>
　　2．出租房屋面积共 平方米（建筑面积/使用面积/套内面积）。<br/>
　　3．该房屋现有装修及设施、设备情况详见合同附件一。<br/>
　　该附件作为甲方按照本合同约定交付乙方使用和乙方在本合同租赁期满交还该房屋时的验收依据。<br/>
　　第三条 甲方应提供房产证（或具有出租权的有效证明）、身份证明（营业执照）等文件，乙方应提供身份证明文件。双方验证后可复印对方文件备存。所有复印件仅供本次租赁使用。<br/>
　　第四条 租赁期限、用途<br/>
　　1．该房屋租赁期共 　<span class="text-line" th:text="${monthCount}"></span> 　个月。自 <span class="text-line" th:text="${yearFrom}"></span> 年 <span class="text-line" th:text="${monthFrom}"></span> 月 <span class="text-line" th:text="${dayFrom}"></span>日至<span class="text-line" th:text="${yearTo}"></span> 年 <span class="text-line" th:text="${monthTo}"></span>月 <span class="text-line" th:text="${dayTo}"></span>日。<br/>
　　2．乙方向甲方承诺，租赁该房屋仅作为 使用。<br/>
　　3．租赁期满，甲方有权收回出租房屋，乙方应如期交还。<br/>
　　乙方如要求续租，则必须在租赁期满 个月之前书面通知甲方，经甲方同意后，重新签订租赁合同。<br/>
　　第五条 租金及支付方式<br/>
　　1．该房屋每月租金为 元（大写 万 仟 佰 拾 元整）。<br/>
　　 租金总额为 元（大写 万 仟 佰 拾 元整）。<br/>
　　2．房屋租金支付方式如下： 。<br/>
　　甲方收款后应提供给乙方有效的收款凭证。<br/>
　　第六条 租赁期间相关费用及税金<br/>
　　1．甲方应承担的费用：<br/>
　　租赁期间，房屋和土地的产权税由甲方依法交纳。如果发生政府有关部门征收本合同中未列出项目但与该房屋有关的费用，应由甲方负担。<br/>
　　2．乙方交纳以下费用：<br/>
（1）乙方应按时交纳自行负担的费用：<br/>
　　（2）甲方不得擅自增加本合同未明确由乙方交纳的费用。<br/>
　　第七条 房屋修缮与使用<br/>
　　1．在租赁期内，甲方应保证出租房屋的使用安全。该房屋及所属设施的维修责任除双方在本合同及补充条款中约定外，均由甲方负责（乙方使用不当除外）。<br/>
　　甲方提出进行维修须提前 日书面通知乙方，乙方应积极协助配合。<br/>
　　乙方向甲方提出维修请求后，甲方应及时提供维修服务。对乙方的装修装饰部分甲方不负有修缮的义务。<br/>
　　2．乙方应合理使用其所承租的房屋及其附属设施。如因使用不当造成房屋及设施损坏的，乙方应立即负责修复或经济赔偿<br/>。
　　乙方如改变房屋的内部结构、装修或设置对房屋结构有影响的设备，设计规模、范围、工艺、用料等方案均须事先征得甲方的书面同意后方可施工。租赁期满后或因乙方责任导致退租的，除双方另有约定外，甲方有权选择以下权利中的一种：<br/>
　　（1）依附于房屋的装修归甲方所有。<br/>
　　（2）要求乙方恢复原状。<br/>
　　（3）向乙方收取恢复工程实际发生的费用。<br/>
　　第八条 房屋的转让与转租<br/>
　　1．租赁期间，甲方有权依照法定程序转让该出租的房屋，转让后，本合同对新的房屋所有人和乙方继续有效。<br/>
　　2．未经甲方同意，乙方不得转租、转借承租房屋。<br/>
　　3．甲方出售房屋须在 个月前书面通知乙方，在同等条件下，乙方有优先购买权。<br/>
　　第九条 合同的变更、解除与终止<br/>
　　1．双方可以协商变更或终止本合同。<br/>
　　2．甲方有以下行为之一的，乙方有权解除合同：<br/>
　　（1）不能提供房屋或所提供房屋不符合约定条件，严重影响居住。<br/>
　　（2）甲方未尽房屋修缮义务，严重影响居住的。<br/>
　　3．房屋租赁期间，乙方有下列行为之一的，甲方有权解除合同，收回出租房屋；<br/>
　　（1）未经甲方书面同意，转租、转借承租房屋。<br/>
　　（2）未经甲方书面同意，拆改变动房屋结构。<br/>
　　（3）损坏承租房屋，在甲方提出的合理期限内仍未修复的。<br/>
　　（4）未经甲方书面同意，改变本合同约定的房屋租赁用途。<br/>
　　（5）利用承租房屋存放危险物品或进行违法活动。<br/>
　　（6）逾期未交纳按约定应当由乙方交纳的各项费用，已经给甲方造成严重损害的。<br/>
　　（7）拖欠房租累计 个月以上。<br/>
　　4．租赁期满前，乙方要继续租赁的，应当在租赁期满 个月前书面通知甲方或电话通知。如甲方在租期届满后仍要对外出租的，在同等条件下，乙方享有优先承租权。<br/>
　　5．租赁期满合同自然终止。<br/>
　　6．因不可抗力因素导致合同无法履行的，合同终止。<br/>
　　第十条 房屋交付及收回的验收<br/>
　　1．甲方应保证租赁房屋本身及附属设施、设备处于能够正常使用状态。<br/>
　　2．验收时双方共同参与，如对装修、器物等硬件设施、设备有异议应当场提出。当场难以检测判断的，应于 日内向对方主张。<br/>
　　3．乙方应于房屋租赁期满后，将承租房屋及附属设施、设备交还甲方。<br/>
　　4．乙方交还甲方房屋应当保持房屋及设施、设备的完好状态，不得留存物品或影响房屋的正常使用。对未经同意留存的物品，甲方有权处置。<br/>
　　第十一条 甲方违约责任处理规定<br/>
　　1．甲方因不能提供本合同约定的房屋而解除合同的，应支付乙方本合同租金总额 %的违约金。甲方除应按约定支付违约金外，还应对超出违约金以外的损失进行赔偿。<br/>
　　2．如乙方要求甲方继续履行合同的，甲方每逾期交房一日，则每日应向乙方支付日租金　 倍的滞纳金。甲方还应承担因逾期交付给乙方造成的损失。<br/>
　　3．由于甲方怠于履行维修义务或情况紧急，乙方组织维修的，甲方应支付乙方费用或折抵租金，但乙方应提供有效凭证。<br/>
　　4．甲方违反本合同约定，提前收回房屋的，应按照合同总租金的 %向乙方支付违约金，若支付的违约金不足弥补乙方损失的，甲方还应该承担赔偿责任。<br/>
　　5．甲方因房屋权属瑕疵或非法出租房屋而导致本合同无效时，甲方应赔偿乙方损失。<br/>
　　第十二条 乙方违约责任<br/>
　　1．租赁期间，乙方有下列行为之一的，甲方有权终止合同，收回该房屋，乙方应按照合同总租金的 %向甲方支付违约金。若支付的违约金不足弥补甲方损失的，乙方还应负责赔偿直至达到弥补全部损失为止。<br/>
　　（1）未经甲方书面同意，将房屋转租、转借给他人使用的；<br/>
　　（2）未经甲方书面同意，拆改变动房屋结构或损坏房屋；<br/>
　　（3）改变本合同规定的租赁用途或利用该房屋进行违法活动的；<br/>
　　（4）拖欠房租累计 个月以上的。<br/>
　　2．在租赁期内，乙方逾期交纳本合同约定应由乙方负担的费用的，每逾期一天，则应按上述费用总额的 %支付甲方滞纳金。<br/>
　　3．在租赁期内，乙方未经甲方同意，中途擅自退租的，乙方应该按合同总租金 %的额度向甲方支付违约金。若支付的违约金不足弥补甲方损失的，乙方还应承担赔偿责任。<br/>
　　4．乙方如逾期支付租金,每逾期一日,则乙方须按日租金的 倍支付滞纳金。<br/>
　　5．租赁期满，乙方应如期交还该房屋。乙方逾期归还，则每逾期一日应向甲方支付原日租金 倍的滞纳金。乙方还应承担因逾期归还给甲方造成的损失。<br/>
　　第十三条 免责条件<br/>
　　1．因不可抗力原因致使本合同不能继续履行或造成的损失，甲、乙双方互不承担责任。<br/>
　　2．因国家政策需要拆除或改造已租赁的房屋，使甲、乙双方造成损失的，互不承担责任。<br/>
　　3．因上述原因而终止合同的，租金按照实际使用时间计算，不足整月的按天数计算，多退少补。<br/>
　　4．不可抗力系指“不能预见、不能避免并不能克服的客观情况”。<br/>
　　第十四条 本合同未尽事宜，经甲、乙双方协商一致，可订立补充条款。补充条款及附件均为本合同组成部分，与本合同具有同等法律效力。<br/>
　　第十五条 争议解决<br/>
　　本合同项下发生的争议，由双方当事人协商或申请调解；协商或调解解决不成的，按下列第 种方式解决（以下两种方式只能选择一种）：<br/>
　　1．提请 仲裁委员会仲裁。<br/>
　　2．依法向有管辖权的人民法院提起诉讼。<br/>
　　第十六条 其他约定事项 。<br/>
　　第十七条 本合同自双方签（章）后生效。<br/>
第十八条 本合同及附件一式 份，由甲、乙双方各执　 份。具有同等法律效力。<br/>


出租方（公章）： 承租方（公章）：

法定代表人：<br/> 法定代表人：<br/>
签字日期： 年 月 日 签字日期： 年 月 日


附件一<br/>
现有设施、设备情况清单<br/>
　　本《设施清单》为 　（甲方）同 （乙方）所签订的编号为租房合同的附件。<br/>
　　甲方向乙方提供以下设施、设备：<br/>
　　一、燃气管道 [ ]<br/>
　　二、暖气管道 [ ]<br/>
　　三、热水管道 [ ]<br/>
　　四、燃气热水器 [ ] 型号：<br/>
　　 电热水器 [ ] 型号：<br/>
　　五、空调 [ ]　型号及数量：<br/>
六、家具 [ ]　型号及数量：<br/>


　　七、电器 [ ]　型号及数量：<br/>
　　八、水表现数： 电表现数： 燃气表现数：<br/>
九、装修状况：<br/>

十、其它设施、设备：<br/>

第十九条、特别补充约定：<br/>
　


甲方（签章）：<br/> 乙方（签章）：<br/>
法定代表人或授权代表人： 法定代表人或授权代表人：<br/>
签约日期： 年 月 日 签约日期： 年 月 日<br/>

</body>
</html>